services:
  one_panel:
    image: yesyunxin/1panel:dood-2.0.15-ubuntu-cn
    container_name: 1panel
    restart: unless-stopped
    ports:
      # 使用 1panel update port 修改端 为 8443
      - "8443:8443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
      - /data:/opt
      - /rclone_config:/root/.config/rclone  # rclone 网盘配置文件
